.j-uploader-overlay{
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    overflow-y: auto;
}
.j-uploader-buttons, .j-uploader-modal{
    margin: 0 auto;
}
.j-uploader-modal{
    margin-top: 120px;
    width: 476px;
}
.j-uploader-file-item{
    position: relative;
}
.j-uploader-file-item .j-uploader-file-status{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3px 0;
    text-align: center;
    background-color: gray;
    opacity: 0.7;
    color: white;
}
.j-uploader-preview{
    margin-top: 15px;
}
.j-uploader-preview:after{
	content: ' ';
	display: block;
	clear: both;
}
.j-uploader-preview .thumbnail{
    overflow: hidden;
}
.panel-footer button{
    margin-left: 15px;
}